// COLORS
$color-white: #fff;
$color-text: #0F303F;
$color-text-white: #EAE9E8;
$color-orange: #E64926;
$color-blue: #254A5A;
$color-gray: #B7C1C5;
// FONTS
$avenir-font: 'Raleway';
$cormorant-font: 'Cormorant';
$jost-font: 'Jost';
$cormorant-gar-font: 'Cormorant Garamond';
